---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts limit: 10 -%}
      <li>
        <div align="center">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta" style="background-color:#004400;color:#202020;font-style:oblique">{{ post.date | date: date_format }}</span>
          <h2><span style="background-color:#2A1506;color:white;padding-left:10px;padding-right:10px;font-style:oblique">{{ post.title | escape }}</span></h2>
        </div>
        <div class="post">
          {{ post.content }}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>

<div class="infinite-spinner"></div>
